.todo {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 8px;
    
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
}

p {
    font-size: 0.875rem;
    font-weight: 400;
}

.unchecked {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    cursor: pointer;
}

.unchecked:hover {
    border: 2px solid var(--blue-dark);
}

.checked {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--purple-dark);
    padding: 5px;
    cursor: pointer;
}

.checked:hover {
    background-color: var(--purple);
}


p {
    padding-right: 10px;
}

.checkedText {
    color: var(--gray-300);
    text-decoration: line-through;
}

.trash {
    margin-left: auto;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 4px;

    transition: background-color 0.2s, opacity 0.2s;
    opacity: 20%;
    fill: yellow;
}

.trash:hover {
    opacity: 100%;
    background-color: var(--danger);
    fill: blue;
}